body{
    background-image:url("/static/pictures/background.jpg");
    background-repeat: no-repeat;
}
#login_main{
    width:300px;
    height:220px;
    margin-top: 10%;
    margin-left: 30%;
    float: left;
    background-color: white;
    border-radius: 4px;
}

#username{
    float: left;
    width: 80%;
    height: 50px;
    margin-left: 9%;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
#username_input{
    margin-top:20px;
    border: 0;  // 去除未选中状态边框
    outline: none; // 去除选中状态边框
    background-color: rgba(0, 0, 0, 0);// 透明背景
    width:100%;
    height:20px;
}
#password{
    float: left;
    width: 80%;
    height: 50px;
    margin-left: 9%;
    margin-top: 5px;
    border-bottom: 1px solid gray;

}
#password_input{
    margin-top: 20px;
    border: 0;  // 去除未选中状态边框
    outline: none; // 去除选中状态边框
    background-color: rgba(0, 0, 0, 0);// 透明背景
    width:100%;
    height:20px;
}
#register_button{
    float: left;
    width: 30%;
    height: 30px;
    margin-left: 9%;
    margin-top: 10px;
}
#register{
    float: left;
    width:100%;
    height: 100%;
}
#login_button{
    float: right;
    width: 30%;
    height: 30px;
    margin-right: 11%;
    margin-top: 10px;
}
#loginn{
    float: right;
    width:100%;
    height: 100%;
}
