body{
    /*background-image: url("/static/pictures/profile.png");*/
    /*background-size: cover;*/
}

#profile_header{
    height: 100px;
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 20px;
}
.releaseIssues_div_icon{
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 25px;
    background-color: white;
}
.releaseIssues_img{
    float: right;
    width: 100%;
    height: 100%;
}

.edit_panel_div{
    width:616px;
    min-height:148px;
    background-color: orange;
    display: none;
    float: right;
    margin-right: 104px;
    /*margin-left: 25%;*/
    margin-top: 110px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
}
.issuePicture_div{
    width: 140px;
    height:168px;
    float: left;
    margin-top: 110px;
    margin-left: 175px;
    background-color: chartreuse;
    display: none;
}
.issue_trigger_div{
    width:616px;
    height:30px;
    /*display: none;*/
    float: right;
    margin-right: 179px;
    /*margin-left: 25%;*/
    margin-top: 10px;
}
.releaseIssue_div{
    float: right;
    width:80px;
    height:30px;
    background-color: orange;
    text-align: center;
    line-height: 30px;
    display: none;
}
.addPicture_div{
    margin-right: 10px;
    float: right;
    width:80px;
    height:30px;
    background-color: orange;
    text-align: center;
    line-height: 30px;
    display: none;
}
.releaseHistory_div{
    width: 70%;
    float: left;
    margin-left: 181px;
    background-color: orange;
    min-height: 600px;
    margin-top: 110px;
}
.issue_image_div_left{
    float: left;
    width: 160px;
    height:170px;
    margin-left: 10px;
    margin-top: 10px;
}
.issue_image_img_left{
    float: left;
    width: 160px;
    height:170px;
}
.issue_content_div_right{
    float: right;
    /*background-color: palegoldenrod;*/
    width: 650px;
    height:170px;
    margin-right: 10px;
    margin-top: 10px;
}
.issue_content_title{
    float: left;
    /*background-color: darkgray;*/
    width: 480px;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    //text-align: center;
    line-height: 30px;
}
.issue_release_time{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 150px;
    text-align: center;
    line-height: 30px;
    /*background-color: orange;*/
}
.issue_content_profile{
    float: left;
    /*background-color: burlywood;*/
    width: 630px;
    margin-left: 10px;
    margin-top: 10px;
    height: 120px;
    /*text-align: center;*/
    line-height: 30px;
}
.profile_foot{
    min-height: 100px;
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 20px;
    float: left;
    margin-bottom: 50px;
    text-align: center;
    line-height: 100px;
}