<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传图片</title>
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/profile.js}">
    </script>
    <link rel="stylesheet" th:href="@{/static/css/profile.css}" type="text/css"/>
</head>
<body>
    <img class="profile-pic" th:src="@{/static/pictures/100.jpg}"/>
    <div class="upload-button">Upload Image</div>
    <input class="file-upload" type="file" accept="image/*"/>
</body>
</html>